<div class="jumbotron"> 
    <img class="img-responsive", id="image" src="./assets/town.png" width="100%" height="100">
</div>
<div class="container">
	<center>
		<h1>
			<%= link_to "Cities", cities_path %>
		</h1>
	</center>
	
</div>