<div class="jumbotron"> 
    <img class="img-responsive", id="image" src="./assets/town.png" width="100%" height="100">
</div>
<div class="container">
	<div class="row">
		<center>
			<h1>
				<p>List of States</p>
			</h1>
		</center>
	</div>
	<div class="row">
		<div class="col-md-6">
			<center><%= link_to "Arizona", cities_path %></center>
		</div>
		<div class="col-md-6">
			<center><%= link_to "Alaska", cities_path %></center>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6">
			<center><%= link_to "Arkansas", cities_path %></center>
		</div>
		<div class="col-md-6">
			<center><%= link_to "Alabama", cities_path %></center>
		</div>
	</div>
</div>