<div class="jumbotron"> 
    <img class="img-responsive", id="image" src="./assets/nb.png" width="100%" height="100">
</div>
<div class="container">
	<center>
		<h1>List of Cities</h1>
	</center>
</div>
<div class="container">
	<div class="row">
		<center>
			<h1>California</h1>
		</center>
		<div class="col-md-6">
			<%= link_to "San Francisco", sanfrancisco_path %>	
		</div>
		<div class="col-md-6">
			Ciabatta
		</div>
	</div>

</div>