<div class="jumbotron"> 
    <img class="img-responsive", id="image" src="./assets/nb.png" width="100%" height="100">
</div>
<div class="container">
	<center>
		<h1>San Diego</h1>
	</center>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<p>8:00 am World Famous</p>
		</div>
		<div class="col-md-6">
			<p>10:00 am Mothers Earth Brewery</p>
		</div>
	</div>

</div>